<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug">
    <Properties>
        <Property name="FILE_LOG_PATTERN">app:@app.name@ %trace{traceId}%d [%c]-[%t]-[%M]-[%L]-[%p] %m%n</Property>
        <Property name="FILE_PATH">@log.path@</Property>
        <Property name="LOGLEVEL">@log.level@</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} %highlight{%5p}  %clr{%pid}{magenta} --- [%15.15t] %cyan{%-40.-40c{1.}}: %m%n" disableAnsi="false"/>
        </Console>

        <RollingRandomAccessFile name="BizLogAppender"
                                 fileName="${FILE_PATH}/app.log"
                                 filePattern="${FILE_PATH}/app.log-%d{yyyy-MM-dd-HH}-%i">
             <PatternLayout>
                 <pattern>${FILE_LOG_PATTERN}</pattern>
             </PatternLayout>
            <Filters>
                <!--<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>-->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ErrorLogAppender"
                                 fileName="${FILE_PATH}/error.log"
                                 filePattern="${FILE_PATH}/error.log-%d{yyyy-MM-dd-HH}-%i">
            <PatternLayout>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>


    <Loggers>
        <AsyncLogger name="com.jiangwei.springboottest.myboot" level="info"  additivity="true" includeLocation="true">
            <AppenderRef ref="BizLogAppender"/>
        </AsyncLogger>

        <Root level="warn" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorLogAppender"/>
        </Root>
    </Loggers>

</configuration>